body{font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./../fotos/digital-landscape-at-sunset_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.dentro{
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    max-width: 360px;
    background-color: #0d1b2a;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0. 0. 0.19);
}   

.operator{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}

.operator:hover{
    background-color: black;
}

#resultado{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(239, 239, 239, 0.3);
    border: none;
    box-sizing: border-box;
}

.operator{
    color: #219abc;
}

#ac{
    color: red;
}

.calcular{
    width: calc(50% - 10px);
}

.operator:hover{
    cursor: pointer;
}

.operator:active{
    transform: scale(1.5);
    box-shadow: 0 24px 1px rgba(0, 0. 0. 0.19),
    0 1.5px 1.5px rgba(0, 0. 0. 0.19); 
}

header{

    color: #000000;
    text-align: center;
    padding: 20px;

}
h1,p{
    margin: 0;
}




